{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <div class="flex-l justify-between center mw nested-copy-line-height lh-copy {{ $.Param "post_content_classes"  | default "serif"}} f4 nested-links {{ $.Param "text_color" | default "mid-gray" }} {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl4-l" "pr4-l" }} w-two-thirds-l">
  {{- .Content -}}
  </div>
  <div class="flex-l justify-between center mw nested-copy-line-height lh-copy {{ $.Param "post_content_classes"  | default "serif"}} f4 nested-links {{ $.Param "text_color" | default "mid-gray" }} {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl4-l" "pr4-l" }} w-two-thirds-l">
    <article class="mw6 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
        <div class="tc">
          <!-- <img src="" class="br-100 h3 w3 dib" title="Photo of Emmanuelle Michaux"> -->
          <h1 class="f4">Emmanuelle Michaux</h1>
          <hr class="mw bb bw1 b--black-10">
        </div>
        <p class="lh-copy measure center f4 black-70">Enseigne la contrebasse à cordes, la trompette, le piano et dispense la formation musicale.</p>
        <a class="link tc ph3 pv1 db bg-animate bg-dark-blue hover-bg-blue white f4 br1" href="mailto:emavs.prof@gmail.com">emavs.prof@gmail.com</a>
        <br />
        <a class="link tc ph3 pv1 db bg-animate bg-dark-blue hover-bg-blue white f4 br1" href="tel:+33695672934">+33 6 95 67 29 34</a>
    </article>

    <article class="mw6 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
      <div class="tc">
          <!-- <img src="" class="br-100 h3 w3 dib" title="Photo of Joe Briys"> -->
          <h1 class="f4">Joe Briys</h1>
          <hr class="mw bb bw1 b--black-10">
        </div>
        <p class="lh-copy measure center f4 black-70">Enseigne la danse pour enfants et adultes.</p>
        <a class="link tc ph3 pv1 db bg-animate bg-dark-blue hover-bg-blue white f4 br1" href="mailto:joe.briys@orange.fr">joe.briys@orange.fr</a>
    </article>

  </div>

<aside class="w-30-l mt6-l">
  {{- partial "menu-contextual.html" . -}}
</aside>
{{ end }}
